.home-background
  .container
    .page-header.red
      %h1 The Panda Page
    .jumbotron
      %h1 Panda Info
      %h4 Some rarely spoken of panda facts:
      %ul

        %li  If a panda gets struck by lighting, its black hair turns white and its white hair turns black.

        %li  Not all pandas know Kung Fu, they are allowed to choose their martial art in 3rd grade.

        %li  Pandas are always the second best dressed at any party, next to the penguin of course.

        %li  Pandas arcoss the world have been on strike because they are unhappy with the current status of panda pronography

        %li Given the proper clothing pandas can easily blend in with nearly any culture.

        %li Pandas are the only animals in the world that can do actual magics
      .border.two
        .well
          %h3 The Mission:
          %p
            While pandas are awesome and could probably rule the world anytime they wanted to, it would take far too much effort.  The panda just dosen't care.  Basically pandas just want to eat, and they know what they like.  It's bamboo or nothing, you don't need to hunt it, you don't need to cook it, there's no messy clean up.  And the best part of being a panda it that you can always get what you want by looking super cute.
        %a{:href => photos_path} [Panda Power]
        %a{:href => root_path} [Home]
